body{
    margin: 0;
}
.container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.logo{
    display: flex;
    align-items: center;
    margin: 3px;
}

img{
    height: 25px;
    width :120px;
    margin: 30px ;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    margin: 5px;
    color: black;
}

.login{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin: 3px;
}

.start{
    padding: 6px;
    background-color: #1c1cff;
    color: white;
}

.container-main{
    background-color: rgb(136, 175, 252);
    width: 100%;
    height: 630px;
}
#type-pay .col-1-3  p > a {
    color: #1c1cff;
    border-bottom: 1px solid blue;
}

#type-pay .col-1-3 .span{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#type-pay .col-1-3 .span > span{
    margin: 5px;
}


* .fa-solid{ 
    font-size: 12px;
    margin: 0 5px
}


h1{
    text-align: center;
    padding: 25px;
    font-size: 60px;
    margin: 10px;
}
.container-row{
    max-width: 100%;
    margin-left:150px;
    margin-right: 150px;
    padding-right: 1rem;
    padding-left: 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding-top: 10px;
    margin-left: -1rem;
    margin-right: -1rem;
}
.container-main .container-top{
    text-align: left;
    padding-left: 150px;
    padding-top: 50px;
}
.container-main .container-top nav{
    margin-left: 13px;
}

.col-1-2{
    width: calc(100% / 2);
    text-align: center;
}
p{
    padding: 20px;
}
.col-1-3{
    width: calc(100% / 2);
    margin-left: 0;
    text-align: center;
}
.main-start{
    color: white;
    padding: 5px;
    background-color:hsl(240, 100%, 64%);
}
.container-top >.arrow{
    margin-bottom: 30px;
}

#img-2{
    width: 560px;
    height: 350px;
    margin-left: 0;
    margin-right: 120px;
    padding-top: 50px;
}
.title{
    margin-top: 150px;
    text-align: center;
    padding-bottom: 60px;
}
h2{
    font-size:33px;
}
.facturation{
    padding: 5px ;
    padding-left: 5px;
    border-left: 5px;
}
.facturation .payment{
    font-size: 18px;
}

#type-pay .container-2{
    max-width: 1100px;
    margin-left:auto ;
    margin-right:auto ;
    padding-left: 1rem ;
    padding-right: 1rem;
}

#type-pay .container-2 .row-2{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: calc(100 / 3);
    justify-content: space-evenly;
    padding: 10px 22px;

    margin-left:-1rem ;
    margin-right: -1rem;
}
#type-pay .col-1-3{
    width: calc(100 / 3);
    border: 1px solid hwb(0 50% 50%);
    height: 100%;
    width: 230px;
    margin: 10px;
}
#type-pay .col-1-3 ul > li{
    text-align: left;
    padding-left: 5px;
}
#type-pay .col-1-3 ul {
    padding-left: 25px;
}
#type-pay .col-1-3 nav{
    margin-top: 50px;
}

#type-pay .col-1-3 p{
    text-align: left;
    padding-left: 20px;
    border-bottom: 0.5px solid hsl(240, 97%, 75%);
}
.profil{
    text-align: center;
    border-bottom: 1px solid #2a2a2a;
    padding: 10px;
    font-size: 18px;
}
.start-profil{
    padding: 5px;
    background-color: hsl(240, 73%, 63%);
    color: white;
}
.row-bottom{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: 100%;
    justify-content: center;

    padding-top: 30px;
    margin-left:-1rem ;
    margin-right: -1rem;
}
.col-bottom{
     width: 81%;
     border: 1px solid hwb(0 50% 50%);
     height: 200px;
     margin-left: 34px;
 }
 .item{
    padding: 15px;
    border-bottom: 1px solid hwb(0 50% 50%);
    text-align: center;
 }
 .item-center{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 0px;
 }
 .item-center 
 .item-center-left > p{
    padding-left: 0;
    padding-top: 1px;
 }
 .item-center-right nav {
    padding: 4px;
    margin-top: 15px;
    margin-right: 0;
    background-color: hsl(240, 73%, 63%);
 }
 .item-center-right > nav > a{
    color: white;
 }
 .big-photo{
    height: 550px;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
 }
 #contatt .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding-top: 20px;
    margin-left: -1rem;
    margin-right: -1rem;
 }
 #contatt .container-big{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
 #contatt .row .col60{
    width: 60%;
 }

 #contatt .row .col40{
    width: 40%;
   
 }

 #contatt .row > .col60 > img{
    height: 400px;
    width: 400px;
    margin-right: 40px;
    padding-left: 100px;
 }

#contatt .row > .col40 > h3{
    padding-top: 50px;
    font-size: 25px;
    border-left: 0;
}
#contatt .row > .col40 > p{
    padding: 0;
    padding-bottom: 20px;
}
#contatt .row > .col40 > nav > a{
   border: 1px solid black;
    padding: 3px;
}


#title-business .container{
    padding: 30px;
    justify-content: center;
    border: 30px;
}
#title-business h2{
    font-size: 45px;
}

#title-business > .row{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: calc (100% / 3);
    justify-content: center;
    margin: 50px 150px;
    display: flex;
    row-gap: 3rem;
    padding-top: 0;
}

#title-business .col-1-3{
    height: 600px;
    width: 330px;
}

 #title-business .image >img{
    height: 100%;
    width: 100%;
    margin-left: 0;
 }
 #title-business .text h3{
    font-size: 26px;
 }
 #title-business .text p{ 
    padding-left: 0;
 }

 .team{
    height: 200px;
    display: flex;
    padding-top: 50px;
    margin-left: 260px;
 }
 .team .container{
    padding-left: 0;
    display: block;
 }
 .team p > a{
    color: #1c1cff;
    border-bottom: 1px solid blue;
    
 }
 .team .container p >a{
    margin: 0;
 }
 .container-footer{
    width: 100%;
    height: 500px;
    background-color: hwb(0 8% 92%);
    margin-top: 100px;
 }
 .footer-row{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 200px;
 }
 .footer-row .col-1-5{
    width: calc(100% / 5);
    height: 200px;
 }
 .footer-row .col-1-5 > p{
      padding-left: 0;
      color: white;
      padding: 0;
 }

 .footer-row .col-1-5 h3{
    color: white;
    font-size: 22px;
    margin-bottom: 40px;
 }

 .container-footer .footer-bottom{
    padding: 80px 180px;
    color: white;
 }

 .container-footer .footer-bottom i{
    margin: 6px;
 }
 .footer-bottom .logo > .line-logo{
    border-top: 1px solid white;
    padding-top: 30px;
 }





